@tailwind base;
@tailwind components;
@tailwind utilities;

.footer{
    position:absolute;
    bottom:0;
    background-color: blanchedalmond;
    text-align: center;
    padding :10px 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10;
  left: 10;
  width: 100%;
  z-index: 100;
  padding: 0 10px;
}

.navbar .navbar-start,
.navbar .navbar-center,
.navbar .navbar-end {
  display: flex;
  align-items: center;
}

.navbar .navbar-center {
  flex-grow: 1;
  text-align: center;
}

.app-bar-content {
  margin-left: auto;
}
